body {
  margin: 0;
}

.video-js {
  width: 100%!important;
  height: 100%!important;
}

.video-js .vjs-tech,
.video-js.vjs-fill {
  height: auto;
}

.video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}

.video-js .vjs-big-play-button {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
