body {
  margin: 0;
}

:focus {
  outline: none;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.video-js .vjs-big-play-button {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
